<launch>
  <arg name="url"
       default="https://spark-api-open.xf-yun.com/x2/chat/completions"/>
  <arg name="request_timeout" default="90.0"/>

  <node pkg="llm_spark"
        type="spark_llm_node.py"
        name="spark_llm_node"
        output="screen">
    <param name="url" value="$(arg url)"/>
    <param name="request_timeout" value="$(arg request_timeout)"/>
  </node>
</launch>
