<launch>
  <arg name="start_base" default="true"/>
  <arg name="start_lidar" default="true"/>
  <arg name="start_camera" default="false"/>

  <include if="$(arg start_base)"
           file="$(find ucar_controller)/launch/base_driver.launch"/>

  <include if="$(arg start_lidar)"
           file="$(find ydlidar)/launch/ydlidar.launch"/>

  <include if="$(arg start_camera)"
           file="$(find usb_cam)/launch/usb_cam-test.launch"/>
</launch>
