<launch>
  <arg name="image_topic" default="/usb_cam/image_raw"/>
  <arg name="wall_yaw_offsets" default="[0.0, 1.5708, 3.1416]"/>

  <node pkg="qr_item_search" type="qr_scanner_node.py"
        name="qr_scanner" output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="required_frames" value="2"/>
    <param name="connect_timeout" value="1.0"/>
    <param name="read_timeout" value="2.0"/>
    <param name="http_retries" value="2"/>
  </node>

  <node pkg="qr_item_search" type="item_search_controller_node.py"
        name="item_search_controller" output="screen">
    <rosparam param="wall_yaw_offsets"
              subst_value="true">$(arg wall_yaw_offsets)</rosparam>
    <param name="yaw_kp" value="1.2"/>
    <param name="max_angular_speed" value="0.30"/>
    <param name="min_angular_speed" value="0.11"/>
    <param name="yaw_tolerance" value="0.035"/>
    <param name="settle_seconds" value="0.8"/>
    <param name="scan_timeout" value="4.0"/>
    <param name="turn_timeout" value="8.0"/>
  </node>
</launch>
