<launch>
  <arg name="config_file"
       default="$(find ucar_corner_supervisor)/config/corner_supervisor.yaml"/>

  <node pkg="ucar_corner_supervisor"
        type="corner_supervisor_node.py"
        name="ucar_corner_supervisor"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
