<launch>
  <arg name="enable_task_orchestrator" default="true"/>
  <arg name="enable_voice_adapter" default="true"/>
  <arg name="enable_tts_bridge" default="true"/>
  <arg name="enable_fast_nav_adapter" default="false"/>
  <arg name="enable_readiness_gate" default="false"/>
  <arg name="enable_velocity_arbiter" default="false"/>
  <arg name="enable_navigation_handoff_supervisor" default="false"/>
  <arg name="simulation_phase_enabled" default="false"/>
  <arg name="legacy_nav_launch"
       default="$(find task_orchestrator)/launch/legacy_navigation_include.launch"/>
  <arg name="stop_integration_launch"
       default="$(find stop)/launch/mission_integration.launch"/>

  <!-- 阶段超时：competition_full.launch 显式覆盖；默认值镜像
       orchestrator.yaml，私有 <param> 在 rosparam load 之后覆盖同 key。 -->
  <arg name="timeout_dependency_ready" default="120.0"/>
  <arg name="timeout_pickup_navigation" default="300.0"/>
  <arg name="timeout_qr_search" default="120.0"/>
  <arg name="timeout_llm_classification" default="120.0"/>
  <arg name="timeout_speech" default="60.0"/>

  <node pkg="task_orchestrator"
        type="task_orchestrator_node.py"
        name="task_orchestrator"
        output="screen"
        if="$(arg enable_task_orchestrator)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
    <param name="timeouts/dependency_ready"
           value="$(arg timeout_dependency_ready)"/>
    <param name="timeouts/pickup_navigation"
           value="$(arg timeout_pickup_navigation)"/>
    <param name="timeouts/qr_search" value="$(arg timeout_qr_search)"/>
    <param name="timeouts/llm_classification"
           value="$(arg timeout_llm_classification)"/>
    <param name="timeouts/speech" value="$(arg timeout_speech)"/>
    <param name="simulation_phase_enabled"
           value="$(arg simulation_phase_enabled)"/>
  </node>
  <node pkg="task_orchestrator"
        type="voice_task_adapter_node.py"
        name="voice_task_adapter"
        output="screen"
        if="$(arg enable_voice_adapter)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
  </node>
  <node pkg="task_orchestrator"
        type="tts_bridge_node.py"
        name="tts_bridge"
        output="screen"
        if="$(arg enable_tts_bridge)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
  </node>
  <node pkg="task_orchestrator"
        type="fast_nav_adapter_node.py"
        name="fast_nav_adapter"
        output="screen"
        if="$(arg enable_fast_nav_adapter)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
  </node>
  <node pkg="task_orchestrator"
        type="system_readiness_gate_node.py"
        name="readiness_gate"
        output="screen"
        if="$(arg enable_readiness_gate)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
  </node>
  <node pkg="task_orchestrator"
        type="velocity_arbiter_node.py"
        name="velocity_arbiter"
        output="screen"
        if="$(arg enable_velocity_arbiter)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
  </node>
  <node pkg="task_orchestrator"
        type="navigation_handoff_supervisor_node.py"
        name="navigation_handoff_supervisor"
        output="screen"
        if="$(arg enable_navigation_handoff_supervisor)">
    <rosparam command="load"
              file="$(find task_orchestrator)/config/orchestrator.yaml"/>
    <param name="navigation_handoff_supervisor/legacy_nav_launch"
           value="$(arg legacy_nav_launch)"/>
    <param name="navigation_handoff_supervisor/stop_integration_launch"
           value="$(arg stop_integration_launch)"/>
  </node>
</launch>
